<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="evaluationStrategy" name="Loong Evaluation Strategy(Inherited CIDE)" schema="schema/evaluationStrategy.exsd"/>
   <extension-point id="typingProvider" name="Loong Type Provider(Inherited CIDE TypeCheck)" schema="schema/typeProvider.exsd"/>
   <extension-point id="featureModelProvider" name="Loong Feature Model Provider" schema="schema/featureModelProvider.exsd"/>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="LoongPlugin.contribution"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               label="Loong"
               path="additions"
               id="LoongPlugin.menu">
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
            <separator
                  name="group3">
            </separator>
            <separator
                  name="group4">
            </separator>
         </menu>
         <action
               class="loongplugin.popup.actions.EditFeatureModelAction"
               icon="icons/FeatureIconSmall.ico"
               id="LoongPlugin.editFeatureNames"
               label="Edit Feature Model... (guidsl)"
               menubarPath="LoongPlugin.menu/group1">
         </action>
         <action
               class="loongplugin.popup.actions.EditFeatureColorAction"
               icon="icons/paint.png"
               id="LoongPlugin.editFeatureColor"
               label="Edit Feature Color..."
               menubarPath="LoongPlugin.menu/group1">
         </action>
         <action
               class="loongplugin.popup.actions.ImportfmodelcolorFile"
               icon="icons/import.png"
               id="LoongPlugin.importModelColorFile"
               label="Import Predefined modelIDCLR"
               menubarPath="LoongPlugin.menu/group1">
         </action>
         <action
               class="loongplugin.popup.actions.WriteToIDCLR"
               id="LoongPlugin.createmodelIDCLR"
               label="Create Log for modelIDCLR"
               menubarPath="LoongPlugin.menu/group1">
         </action>
         <action
               class="loongplugin.popup.actions.EditMiningStrategy"
               icon="icons/mining.png"
               id="LoongPlugin.setstrategy"
               label="Set Feature Mining Strategy"
               menubarPath="LoongPlugin.menu/group2">
         </action>
         <action
               class="loongplugin.popup.actions.CreateDatabaseAction"
               icon="icons/database.png"
               id="LoongPlugin.dbaction"
               label="Create Program Database..."
               menubarPath="LoongPlugin.menu/group2">
         </action>
         <action
               class="loongplugin.popup.actions.CreateSeedsLog"
               icon="icons/seed.png"
               id="LoongPlugin.seedlogAction"
               label="Create Log for Seeds"
               menubarPath="LoongPlugin.menu/group2">
         </action>
         <action
               class="loongplugin.popup.actions.AnnotateFeatures"
               icon="icons/annotation.png"
               id="LoongPlugin.annotateFeature"
               label="Annotate Features"
               menubarPath="LoongPlugin.menu/group3">
         </action>
         <action
               class="loongplugin.popup.actions.ComparePerformance"
               id="LoongPlugin.comparePerformance"
               label="Compare Performance With Benchmark"
               menubarPath="LoongPlugin.menu/group3">
         </action>
         <action
               class="loongplugin.popup.actions.UninstallLoongNature"
               id="LoongPlugin.uninstallNature"
               label="Uninstall Loong Nature"
               menubarPath="LoongPlugin.menu/group4">
         </action>
         <action
               class="loongplugin.popup.actions.CleanAllAnnotataions"
               icon="icons/clean.png"
               id="LoongPlugin.cleanallannotations"
               label="Clean All Annotatations"
               menubarPath="LoongPlugin.menu/group4">
         </action>
         <action
               class="loongplugin.Action1"
               id="LoongPlugin.action1"
               label="Refactoring">
         </action>
         <action
               class="loongplugin.popup.actions.StatusRollBack"
               icon="icons/rollback.jpg"
               id="LoongPlugin.recoverytocertainstatus"
               label="Rollback To A Certain Status(Seed)"
               menubarPath="LoongPlugin.menu/group4">
         </action>
         <action
               class="loongplugin.popup.actions.GenerateVariants"
               id="LoongPlugin.generateVariant"
               label="Generate Variants..."
               menubarPath="LoongPlugin.menu/group4">
         </action>
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="LoongPlugin.ProjectNature">
               </objectState>
               <objectState
                     name="open"
                     value="true">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="LoongPlugin.menu"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="loongplugin.nature.InstallNatureAction"
               icon="icons/nature.gif"
               id="LoongPlugin.nature.install"
               label="Enable Loong for this project..."
               menubarPath="LoongPlugin.menu/main">
         </action>
         <action
               class="loongplugin.CIDEbridge.BridgeToLoong"
               icon="icons/interaction.gif"
               id="LoongPlugin.bridgeCIDESafe"
               label="Bridge CIDE2 Project to a Loong Project"
               menubarPath="LoongPlugin.menu/main">
            <enablement>
               <objectState
                     name="nature"
                     value="de.ovgu.cide.core.CIDEProjectNature">
               </objectState>
            </enablement>
         </action>
         <action
               class="loongplugin.CIDEbridge.BridgeToLoong"
               icon="icons/interaction.gif"
               id="LoongPlugin.bridgeCIDE"
               label="Bridge CIDE2 Project to a Loong Project (Force:Not safe)"
               menubarPath="LoongPlugin.menu/main">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <not>
                  <objectState
                        name="nature"
                        value="LoongPlugin.ProjectNature">
                  </objectState>
               </not></and>
         </visibility>
         <menu
               id="LoongPlugin.menu"
               label="Loong"
               path="additions">
            <separator
                  name="main">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="LoongPlugin.resourceContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="loongplugin.popup.actions.SetColorPopup"
               id="LoongPlugin.SetResourceColor"
               label="Set File/Directory Feature(Loong)"
               menubarPath="LoongPlugin.Resource/resourcegroup">
         </action>
         <menu
               id="LoongPlugin.Resource"
               label="Loong"
               path="additions">
            <separator
                  name="resourcegroup">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="LoongPlugin.perspective">
         <viewShortcut
               id="LoongPlugin.featureview">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <viewShortcut
               id="LoongPlugin.featureview">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="loongplugin.PerspectiveFactory"
            fixed="true"
            icon="icons/loong.jpg"
            id="LoongPlugin.perspective"
            name="Loong">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="LoongPlugin.viewcategory"
            name="Loong">
      </category>
      <view
            category="LoongPlugin.viewcategory"
            class="loongplugin.views.featureview.FeatureView"
            icon="icons/loong.jpg"
            id="LoongPlugin.featureview"
            name="Feature List"
            restorable="true">
      </view>
      <view
            category="LoongPlugin.viewcategory"
            class="loongplugin.views.astview.views.ASTView"
            icon="icons/view.gif"
            id="LoongPlugin.astview"
            name="ASTView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="loongplugin.editor.CLREditor"
            default="true"
            icon="icons/editor.gif"
            id="LoongPlugin.clreditor"
            name="Annotated Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaSource">
         </contentTypeBinding>
      </editor>
      <editor
            class="loongplugin.featuremodeleditor.FeatureModelEditor"
            contributorClass="loongplugin.featuremodeleditor.FeatureModelEditorContributor"
            default="false"
            filenames="model.m"
            icon="icons/featuretree.ico"
            id="LoongPlugin.FeatureModelEditor"
            name="Feature Model Editor">
      </editor>
      <editor
            class="loongplugin.uml.editors.ClassDiagramEditor"
            contributorClass="loongplugin.uml.UMLActionBarContributor"
            default="true"
            extensions="ucls"
            icon="icons/umlicon.png"
            id="Loongplugin.uml.editors.UMLBuilderEditor"
            name="Class Diagram Editor">
      </editor>
   </extension>
   <extension
   		 id="ProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="loongplugin.nature.LoongProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="LoongPlugin.featureModelProvider">
      <featureModelProvider
            id="LoongPlugin.feature.guidsl.GuidslFMProvider"
            name="Guidsl Feature Model Provider"
            provider="loongplugin.feature.guidsl.GuidslFMProvider">
      </featureModelProvider>
   </extension>
   <extension
         point="LoongPlugin.evaluationStrategy">
      <evaluationStrategy
            featureModelProvider="LoongPlugin.feature.guidsl.GuidslFMProvider"
            id="loong.guidsl"
            name="Guidsl (sat4j) Evaluation Strategy"
            strategy="loongplugin.typing.internal.SatEvaluationStrategy">
      </evaluationStrategy>
   </extension>
   <extension
         id="loong.typing.problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="loong.typing.problem.problemtype">
      </attribute>
      <attribute
            name="loong.typing.problem.problemdata">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="loongplugin.typing.internal.resolution.ResolutionGenerator"
            markerType="loong.typing.problem">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="loongplugin.recommendation.typesystem.typing.jdt.JDTProfiler"
            createsProblems="false"
            id="loongplugin.recommendation.typesystem.typing.jdt.JDTProfiler"
            modifiesEnvironment="false">
      </compilationParticipant>
   </extension>
   <extension
         point="LoongPlugin.typingProvider">
      <typingProvider
            id="LoongPlugin.typingProvider"
            name="JDT Typing Provider"
            provider="loongplugin.recommendation.typesystem.typing.jdt.JDTTypingExtension">
      </typingProvider>
   </extension>

</plugin>
