<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dnd" name="DragAndDrop" schema="schema/dnd.exsd"/>
   <extension
         point="LoongPluginUML.dnd">
      <listenerFactory
            class="loongplugin.uml.dnd.ClassDiagramDropTargetListenerFactory">
      </listenerFactory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="loongplugin.uml.LoongUMLPreferencePage"
            id="LoongPlugin.uml.UMLPreferencePage"
            name="Loong">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="loongplugin.uml.LoongUMLPreferenceInitializer">
      </initializer>
   </extension>


</plugin>
