<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="LoongPluginSARTool.contribution">
         <menu
               id="LoongPlugin.FMRTool.FMRecoveryJ"
               label="LoongFMR"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="loongpluginsartool.popup.actions.JavaProjectSARecovery"
               enablesFor="1"
               icon="icons/ConfigurationIcon.png"
               id="LoongPlugin.FMRTool.architecturerecoveryjava"
               label="Open Feature Configuration Editor"
               menubarPath="LoongPlugin.FMRTool.FMRecoveryJ/group1">
         </action>
         <action
               class="loongpluginfmrtool.popup.actions.openFeatureNameRecommendationView"
               icon="icons/recommend.png"
               id="LoongPluginFMRTool.recommendName"
               label="Open Feature Name Recommendation View"
               menubarPath="LoongPlugin.FMRTool.FMRecoveryJ/group1">
         </action>
         <action
               class="loongpluginfmrtool.popup.actions.recoveryFeatureModel"
               icon="icons/recovery.png"
               id="LoongPluginFMRTool.action3"
               label="Recovery Feature Model"
               menubarPath="LoongPlugin.FMRTool.FMRecoveryJ/group1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="LoongPluginSARTool.objectContributioncpp"
            objectClass="org.eclipse.cdt.core.model.ICProject">
         <menu
               id="LoongPlugin.FMRTool.FMRecoveryC"
               label="LoongFMR"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="loongpluginsartool.popup.actions.CPPProjectSARecovery"
               icon="icons/recovery.png"
               id="LoongPluginSARTool.architecturerecoverycpp"
               label="Open Feature Configuration Editor"
               menubarPath="LoongPlugin.FMRTool.FMRecoveryC/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="loongpluginsartool.editor.configfeaturemodeleditor.ui.ConfigurableFeatureModelEditor"
            contributorClass="loongpluginsartool.editor.configfeaturemodeleditor.actions.DiagramActionBarContributor"
            default="true"
            extensions="mconfig"
            icon="icons/mconfig.gif"
            id="LoongPlugin.FMRTool.mConfigFeatureModelEditor"
            name="Configurable Feature Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="LoongPlugin.viewcategory"
            class="loongpluginsartool.views.recommendedfeatureview.RecommendedFeatureView"
            icon="icons/recommend.png"
            id="LoongPlugin.FMRTool.recommendedFeatureList"
            name="Recommended Feature List"
            restorable="true">
      </view>
      <category
            id="LoongPlugin.viewcategory"
            name="Loong">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="LoongPlugin.newwizard"
            class="loongpluginsartool.newWizard.MConfigFileWizard"
            icon="icons/ConfigurationFileSmall.png"
            id="LoongPluginSARTool.mConfigFeatureModelwizard"
            name="Temprorary Configurable Feature Model">
      </wizard>
   </extension>

</plugin>
